<a mat-list-item routerLink="/signup" (click)="onClick()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign up</span>
</a>
<a mat-list-item routerLink="/login" (click)="onClick()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Log in</span>
</a>
<a mat-list-item routerLink="/training" (click)="onClick()">
    <mat-icon>directions_bike</mat-icon>
    <span class="nav-caption">Training</span>
</a>
<a mat-list-item (click)="onClick()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-caption">Log out</span>
</a>